<a href="https://colab.research.google.com/github/naveenkumar-rajamanoharan/python_basic/blob/master/Function_Practice_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WARMUP SECTION:
LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
def lesser_of_two_evens(x,y):
    if x%2==0 and y%2==0:
        return min(x,y)
    else:
        return max(x,y)

In [ ]:
lesser_of_two_evens(2,4)

2

In [ ]:
lesser_of_two_evens(2,5)

5

In [ ]:
name="Naveen kumar"
name.split()

['Naveen', 'kumar']

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True

In [ ]:
def animal_crackers(name):
    my_list=name.split()
    if my_list[0][0]==my_list[1][0]:
        return True
    else:
        return False

In [ ]:
animal_crackers('Levelheaded Llama')

True

In [ ]:
animal_crackers('Crazy Kangaroo')

False

In [ ]:
name="Naveen kumar R"
name.split()

['Naveen', 'kumar', 'R']

In [ ]:
List2=name.split()

In [ ]:
List2

['Naveen', 'kumar', 'R']

In [ ]:
List2[0]

'Naveen'

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [ ]:
def makes_twenty(x,y):
    if x+y==20 or x==20 or y==20:
        return True
    else:
        return False

In [ ]:
makes_twenty(20,10)

True

In [ ]:
makes_twenty(12,8)

True

In [ ]:
makes_twenty(2,3)

False

In [ ]:
def old_macdonald(name):
    out_name=name[:3].capitalize()+name[3:].capitalize()
    return out_name

In [ ]:
old_macdonald('macdonald')

'MacDonald'

In [ ]:
def master_yoda(name):
    my_list=name.split()
    my_list.reverse()
    return my_list

In [ ]:
name="I am in Home"
mlist=name.split()

In [ ]:
mlist

['I', 'am', 'in', 'Home']

In [ ]:
mlist.reverse()

In [ ]:
mlist

['Home', 'in', 'am', 'I']

In [ ]:
master_yoda('I am home')

['home', 'am', 'I']

In [ ]:
master_yoda('We are ready')

['ready', 'are', 'We']

In [ ]:
def almost_there(n):
    if (n<=110 and n>=90) or (n<=210 and n>=190):
        return True
    else:
        return False

In [ ]:
almost_there(104)

True

In [ ]:
almost_there(150)

False

In [ ]:
almost_there(209)

True

LEVEL 2

In [ ]:
def has_33(my_list):
    for num in range(0,len(my_list)):
        if my_list[num]==3:
            if my_list[num+1]==3:
                return True
            else:
                return False

In [ ]:
has_33([1, 3, 3])

True

In [ ]:
for num in range(0,len(List2)+1):
    
    print(num)

0
1
2
3

In [ ]:
List3=[1,2,3,4,5]

In [ ]:
for num in range(0,len(List3)):
    if List3[num]==3:
        print(num,List3[num])

2 3

In [ ]:
has_33([1, 3, 1, 3])

False

In [ ]:
has_33([3, 1, 3])

False

PAPER DOLL

In [ ]:
def paper_doll(text):
    string1=""
    for letter in text:
        string1=string1+letter*3
    return string1

In [ ]:
paper_doll('Hello')

'HHHeeellllllooo'

In [ ]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACK JACK

 Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [ ]:
def blackjack(a,b,c):
    if a+b+c<=21:
        return(a+b+c)
    elif a+b+c>21:
        if (a==11 or b==11 or c==11):
            x=(a+b+c)-10
            if x>21:
                return("BUST")
            else:
                return x
        else:
            return("BUST")

In [ ]:
blackjack(5,6,7)

18

In [ ]:
blackjack(9,9,9)

'BUST'

In [ ]:
blackjack(9,9,11)

19

SUMMER OF 69

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [ ]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return (f"Total is {total} ")

In [ ]:
summer_69([1, 3, 5])

'Total is 9 '

In [ ]:
summer_69([4, 5, 6, 7, 8, 9])

'Total is 9 '

In [ ]:
summer_69([2, 1, 6, 9, 11])

'Total is 14 '

CHALLENGE PROBLEMS

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [ ]:
 spy_game([1,2,4,0,0,7,5])

True

In [ ]:
spy_game([1,7,2,0,4,5,0])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

In [ ]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [ ]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [ ]:
def count_primes1(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        primes.append(x)
        x += 2
    print(primes)
    return len(primes)

In [ ]:
count_primes1(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 27, 29, 31, 35, 37, 41, 43, 47, 51, 53, 57, 59, 61, 65, 67, 71, 73, 77, 79, 83, 87, 89, 93, 97, 101]

34

In [ ]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [ ]:
print_big("b")

****
*   *
****
*   *
****

In [ ]:
patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
c=alphabet["A"]
print(c)
for num in c:
    print(patterns[num])

[1, 2, 4, 3, 3]
  *
 * *
*****
*   *
*   *

In [ ]:
number=range(3,10)
print(list(range(3,10)))

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
a =10
b =20
print(a + b)

30